


<div>
    <app-navbar-employer></app-navbar-employer>
  </div>
  
  
  <div class="ks-page-container ks-dashboard-tabbed-sidebar-fixed-tabs" appAutoHeight data-is-auto-height="parent" data-is-min-height="true">
   
    <div class="ks-column ks-sidebar ks-info">
      <app-sidebar-employer></app-sidebar-employer>
  </div>
  
  <div class="ks-column ks-page">
    <div class="ks-page-header">
      <section class="ks-title">
        <h3>Notifications | {{ details?.first_name }} {{ details?.last_name }}</h3>
      </section>
    </div>
    <div class="ks-page-content mg-top-10">
        <div class="col-xl-12 ">
            <div class="card panel panel-default  ks-widget-events-stream">
                <div class="card-header">
                    Notification list
                    <div class="ks-controls">
                        <a href="#" class="ks-control ks-update"><span class="ks-icon la la-refresh"></span></a>
                    </div>
                </div>
                <div class="card-block">
                    <div class="ks-wrapper"  style="height: auto; overflow: hidden; padding: 0px;" >
                        
                    <div class="" style="width: 100%; height: auto;"><div class="" style=" width: 100%;"><table class="ks-table">
                            <tbody>
                            <tr>
                                <td class="ks-user">
                                    <img src="../../assets/data/company.jpg" class="" width="80" height="80">
                                </td>
                                <td class="ks-info">
                                    <a href="#" class="ks-name">Software Company GMBH <span class="badge badge-danger ks-label ks-sm">Company</span></a>
                                    <div class="ks-description">New job at Software Company GMBH</div>
                                </td>
                                <td class="ks-datetime">
                                    24 min ago
                                </td>
                            </tr>
                            <tr>
                                <td class="ks-user">
                                    <img src="assets/img/avatars/avatar-3.jpg" class="" width="80" height="80">
                                </td>
                                <td class="ks-info">
                                    <a href="#" class="ks-name">New documentation inserted<span class="badge badge-warning ks-label ks-sm">Admin</span></a>
                                    <div class="ks-description">4 documents added by Admin</div>
                                </td>
                                <td class="ks-datetime">
                                    24 min ago
                                </td>
                            </tr>
                            </tbody>
                        </table></div>
                        
                      </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
  </div>
  
  
  <div class="ks-mobile-overlay"></div>
  </div>
  
  <!--
  
  <app-login></app-login>
  -->
  
  
  
  
  
  
  
  
  
  
  
  
  