





<div>
  <app-navbar></app-navbar>
</div>


<div class="ks-page-container ks-dashboard-tabbed-sidebar-fixed-tabs" appAutoHeight data-is-auto-height="parent" data-is-min-height="true">
 
  <div class="ks-column ks-sidebar ks-info">
    <app-sidebar></app-sidebar>
</div>

<div class="ks-column ks-page">
  <div class="ks-page-header">
    <section class="ks-title">
      <h3>Pricing Plans | {{details?.first_name}} {{details?.last_name}}</h3>
    </section>
  </div>
  <div class="ks-page-content">
    <div class="ks-page-content-body ks-full-height">
      <div class="ks-nav-body-wrapper">
        <div class="container-fluid">
          <div class="ks-pricing-plans-page">
            <div class="ks-header">
              <h3 class="ks-name">Pricing</h3>
              <div class="ks-description">Choose your plan</div>
            </div>
            <div class="ks-plans">
              <div class="ks-plan ks-info">
                <div class="ks-header">
                  <h5 class="ks-name">Extend the registration for 45 days more</h5>
                  <div class="ks-price">
                    <div class="ks-currency">$</div>
                    <div class="ks-amount">9,99</div>
                    <div class="ks-period">/ 45 days more</div>
                  </div>
                </div>
                <div class="ks-body">
                  <ul class="ks-list ks-success">
                    <li>New job opportunities</li>
                    <li>Standard account</li>
                    <li>Support</li>
                  </ul>
  
                  <a href="#" class="btn btn-info btn-block">Extend 45 days</a>
                </div>
              </div>
              <div class="ks-plan ks-info bg-premium">
                <div class="ks-header">
                  <h5 class="ks-name">Premium for 4 months</h5>
                  <h5 class="ks-description"></h5>
                  <div class="ks-price">
                    <div class="ks-currency color-premium">$</div>
                    <div class="ks-amount color-premium">24,99</div>
                    <div class="ks-period">/ for 4 months </div>
                  </div>
                </div>
                <div class="ks-body">
                  <ul class="ks-list ks-success">
                    <li>New job opportunities</li>
                    <li>Premium account</li>
                    <li>Premium support</li>
                    <li>Discount on registration</li>
                  </ul>
  
                  <a href="#" class="btn btn-warning btn-block">Get premium</a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>


<div class="ks-mobile-overlay"></div>
</div>

<!--

<app-login></app-login>
-->












