
<div>
    <app-navbar></app-navbar>
</div>
  
  
  <div class="ks-page-container ks-dashboard-tabbed-sidebar-fixed-tabs" appAutoHeight data-is-auto-height="parent" data-is-min-height="true">
   
    <div class="ks-column ks-sidebar ks-info">
      <app-sidebar></app-sidebar>
  </div>
  
  <div class="ks-column ks-page">
    <div class="ks-page-header">
      <section class="ks-title">
        <h3>Documentation | {{ details?.first_name }} {{ details?.last_name }}</h3>
      </section>
    </div>
  
        <div class="ks-page-content">
            <div class="ks-page-content-body ks-filemanager-page">

                <div class="ks-files">
                    <div class="ks-breadcrubms">
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item"><a href="#">Documentation</a></li>
                            <li class="breadcrumb-item ks-active">2018</li>
                        </ol>
                    </div>
                    <div class="ks-content ks-compact">
                        <table class="table ks-text-light ks-table-header">
                            <thead class="ks-thead-default">
                            <tr>
                                <th class="ks-checkbox-column" width="1">
                                    <label class="ks-checkbox custom-control custom-checkbox">
                                        <input type="checkbox" class="custom-control-input">
                                        <span class="custom-control-indicator"></span>
                                    </label>
                                </th>
                                <th class="ks-name-column" width="35%">Name</th>
                                <th width="15%">Owner</th>
                                <th width="10%">Size</th>
                                <th width="20%">Last Modified</th>
                                <th width="20%">Download</th>
                            </tr>
                            </thead>
                        </table>
                        <div class="ks-table-content ks-scrollable" data-auto-height>
                            <table class="table ks-text-light">
                                <tbody>
                                <tr>
                                    <td class="ks-checkbox-column" width="1">
                                        <label class="ks-checkbox custom-control custom-checkbox">
                                            <input type="checkbox" class="custom-control-input">
                                            <span class="custom-control-indicator"></span>
                                        </label>
                                    </td>
                                    <td class="ks-name-column" width="35%">
                                        <span class="ks-icon la la-file-pdf-o text-primary"></span> Zakon o zaposljavanje, Njemačka (GER)
                                    </td>
                                    <td width="15%">Admin</td>
                                    <td width="10%">56 KB</td>
                                    <td width="20%">September 14, 2018</td>
                                    <td width="20%"> <button class="btn btn-warning-outline ks-solid">Download</button></td>
                                </tr>
                                <tr>
                                    <td class="ks-checkbox-column" width="1">
                                        <label class="ks-checkbox custom-control custom-checkbox">
                                            <input type="checkbox" class="custom-control-input">
                                            <span class="custom-control-indicator"></span>
                                        </label>
                                    </td>
                                    <td class="ks-name-column" width="35%">
                                        <span class="ks-icon la la-file-pdf-o text-primary"></span> Zakon o zaposljavanje, Njemačka (GER)
                                    </td>
                                    <td width="15%">Admin</td>
                                    <td width="10%">56 KB</td>
                                    <td width="20%">September 14, 2018</td>
                                    <td width="20%"> <button class="btn btn-warning-outline ks-solid">Download</button></td>
                                </tr>
                                <tr>
                                    <td class="ks-checkbox-column" width="1">
                                        <label class="ks-checkbox custom-control custom-checkbox">
                                            <input type="checkbox" class="custom-control-input">
                                            <span class="custom-control-indicator"></span>
                                        </label>
                                    </td>
                                    <td class="ks-name-column" width="35%">
                                        <span class="ks-icon la la-file-pdf-o text-primary"></span> Zakon o zaposljavanje, Njemačka (GER)
                                    </td>
                                    <td width="15%">Admin</td>
                                    <td width="10%">56 KB</td>
                                    <td width="20%">September 14, 2018</td>
                                    <td width="20%"> <button class="btn btn-warning-outline ks-solid">Download</button></td>
                                </tr>
                                <tr>
                                    <td class="ks-checkbox-column" width="1">
                                        <label class="ks-checkbox custom-control custom-checkbox">
                                            <input type="checkbox" class="custom-control-input">
                                            <span class="custom-control-indicator"></span>
                                        </label>
                                    </td>
                                    <td class="ks-name-column" width="35%">
                                        <span class="ks-icon la la-file-pdf-o text-primary"></span> Zakon o zaposljavanje, Njemačka (GER)
                                    </td>
                                    <td width="15%">Admin</td>
                                    <td width="10%">56 KB</td>
                                    <td width="20%">September 14, 2018</td>
                                    <td width="20%"> <button class="btn btn-warning-outline ks-solid">Download</button></td>
                                </tr>
                                <tr>
                                    <td class="ks-checkbox-column" width="1">
                                        <label class="ks-checkbox custom-control custom-checkbox">
                                            <input type="checkbox" class="custom-control-input">
                                            <span class="custom-control-indicator"></span>
                                        </label>
                                    </td>
                                    <td class="ks-name-column" width="35%">
                                        <span class="ks-icon la la-file-pdf-o text-primary"></span> Zakon o zaposljavanje, Njemačka (GER)
                                    </td>
                                    <td width="15%">Admin</td>
                                    <td width="10%">56 KB</td>
                                    <td width="20%">September 14, 2018</td>
                                    <td width="20%"> <button class="btn btn-warning-outline ks-solid">Download</button></td>
                                </tr>
                                <tr>
                                    <td class="ks-checkbox-column" width="1">
                                        <label class="ks-checkbox custom-control custom-checkbox">
                                            <input type="checkbox" class="custom-control-input">
                                            <span class="custom-control-indicator"></span>
                                        </label>
                                    </td>
                                    <td class="ks-name-column" width="35%">
                                        <span class="ks-icon la la-file-pdf-o text-primary"></span> Zakon o zaposljavanje, Njemačka (GER)
                                    </td>
                                    <td width="15%">Admin</td>
                                    <td width="10%">56 KB</td>
                                    <td width="20%">September 14, 2018</td>
                                    <td width="20%"> <button class="btn btn-warning-outline ks-solid">Download</button></td>
                                </tr>
                                <tr>
                                    <td class="ks-checkbox-column" width="1">
                                        <label class="ks-checkbox custom-control custom-checkbox">
                                            <input type="checkbox" class="custom-control-input">
                                            <span class="custom-control-indicator"></span>
                                        </label>
                                    </td>
                                    <td class="ks-name-column" width="35%">
                                        <span class="ks-icon la la-file-pdf-o text-primary"></span> Zakon o zaposljavanje, Njemačka (GER)
                                    </td>
                                    <td width="15%">Admin</td>
                                    <td width="10%">56 KB</td>
                                    <td width="20%">September 14, 2018</td>
                                    <td width="20%"> <button class="btn btn-warning-outline ks-solid">Download</button></td>
                                </tr>
                                <tr>
                                    <td class="ks-checkbox-column" width="1">
                                        <label class="ks-checkbox custom-control custom-checkbox">
                                            <input type="checkbox" class="custom-control-input">
                                            <span class="custom-control-indicator"></span>
                                        </label>
                                    </td>
                                    <td class="ks-name-column" width="35%">
                                        <span class="ks-icon la la-file-pdf-o text-primary"></span> Zakon o zaposljavanje, Njemačka (GER)
                                    </td>
                                    <td width="15%">Admin</td>
                                    <td width="10%">56 KB</td>
                                    <td width="20%">September 14, 2018</td>
                                    <td width="20%"> <button class="btn btn-warning-outline ks-solid">Download</button></td>
                                </tr>
                                <tr>
                                    <td class="ks-checkbox-column" width="1">
                                        <label class="ks-checkbox custom-control custom-checkbox">
                                            <input type="checkbox" class="custom-control-input">
                                            <span class="custom-control-indicator"></span>
                                        </label>
                                    </td>
                                    <td class="ks-name-column" width="35%">
                                        <span class="ks-icon la la-file-pdf-o text-primary"></span> Zakon o zaposljavanje, Njemačka (GER)
                                    </td>
                                    <td width="15%">Admin</td>
                                    <td width="10%">56 KB</td>
                                    <td width="20%">September 14, 2018</td>
                                    <td width="20%"> <button class="btn btn-warning-outline ks-solid">Download</button></td>
                                </tr>
                                <tr>
                                    <td class="ks-checkbox-column" width="1">
                                        <label class="ks-checkbox custom-control custom-checkbox">
                                            <input type="checkbox" class="custom-control-input">
                                            <span class="custom-control-indicator"></span>
                                        </label>
                                    </td>
                                    <td class="ks-name-column" width="35%">
                                        <span class="ks-icon la la-file-pdf-o text-primary"></span> Zakon o zaposljavanje, Njemačka (GER)
                                    </td>
                                    <td width="15%">Admin</td>
                                    <td width="10%">56 KB</td>
                                    <td width="20%">September 14, 2018</td>
                                    <td width="20%"> <button class="btn btn-warning-outline ks-solid">Download</button></td>
                                </tr>
                                <tr>
                                    <td class="ks-checkbox-column" width="1">
                                        <label class="ks-checkbox custom-control custom-checkbox">
                                            <input type="checkbox" class="custom-control-input">
                                            <span class="custom-control-indicator"></span>
                                        </label>
                                    </td>
                                    <td class="ks-name-column" width="35%">
                                        <span class="ks-icon la la-file-pdf-o text-primary"></span> Zakon o zaposljavanje, Njemačka (GER)
                                    </td>
                                    <td width="15%">Admin</td>
                                    <td width="10%">56 KB</td>
                                    <td width="20%">September 14, 2018</td>
                                    <td width="20%"> <button class="btn btn-warning-outline ks-solid">Download</button></td>
                                </tr>
                                <tr>
                                    <td class="ks-checkbox-column" width="1">
                                        <label class="ks-checkbox custom-control custom-checkbox">
                                            <input type="checkbox" class="custom-control-input">
                                            <span class="custom-control-indicator"></span>
                                        </label>
                                    </td>
                                    <td class="ks-name-column" width="35%">
                                        <span class="ks-icon la la-file-pdf-o text-primary"></span> Zakon o zaposljavanje, Njemačka (GER)
                                    </td>
                                    <td width="15%">Admin</td>
                                    <td width="10%">56 KB</td>
                                    <td width="20%">September 14, 2018</td>
                                    <td width="20%"> <button class="btn btn-warning-outline ks-solid">Download</button></td>
                                </tr>
                                <tr>
                                    <td class="ks-checkbox-column" width="1">
                                        <label class="ks-checkbox custom-control custom-checkbox">
                                            <input type="checkbox" class="custom-control-input">
                                            <span class="custom-control-indicator"></span>
                                        </label>
                                    </td>
                                    <td class="ks-name-column" width="35%">
                                        <span class="ks-icon la la-file-pdf-o text-primary"></span> Zakon o zaposljavanje, Njemačka (GER)
                                    </td>
                                    <td width="15%">Admin</td>
                                    <td width="10%">56 KB</td>
                                    <td width="20%">September 14, 2018</td>
                                    <td width="20%"> <button class="btn btn-warning-outline ks-solid">Download</button></td>
                                </tr>
                                <tr>
                                    <td class="ks-checkbox-column" width="1">
                                        <label class="ks-checkbox custom-control custom-checkbox">
                                            <input type="checkbox" class="custom-control-input">
                                            <span class="custom-control-indicator"></span>
                                        </label>
                                    </td>
                                    <td class="ks-name-column" width="35%">
                                        <span class="ks-icon la la-file-pdf-o text-primary"></span> Zakon o zaposljavanje, Njemačka (GER)
                                    </td>
                                    <td width="15%">Admin</td>
                                    <td width="10%">56 KB</td>
                                    <td width="20%">September 14, 2018</td>
                                    <td width="20%"> <button class="btn btn-warning-outline ks-solid">Download</button></td>
                                </tr>
                                <tr>
                                    <td class="ks-checkbox-column" width="1">
                                        <label class="ks-checkbox custom-control custom-checkbox">
                                            <input type="checkbox" class="custom-control-input">
                                            <span class="custom-control-indicator"></span>
                                        </label>
                                    </td>
                                    <td class="ks-name-column" width="35%">
                                        <span class="ks-icon la la-file-pdf-o text-primary"></span> Zakon o zaposljavanje, Njemačka (GER)
                                    </td>
                                    <td width="15%">Admin</td>
                                    <td width="10%">56 KB</td>
                                    <td width="20%">September 14, 2018</td>
                                    <td width="20%"> <button class="btn btn-warning-outline ks-solid">Download</button></td>
                                </tr>
                                <tr>
                                    <td class="ks-checkbox-column" width="1">
                                        <label class="ks-checkbox custom-control custom-checkbox">
                                            <input type="checkbox" class="custom-control-input">
                                            <span class="custom-control-indicator"></span>
                                        </label>
                                    </td>
                                    <td class="ks-name-column" width="35%">
                                        <span class="ks-icon la la-file-pdf-o text-primary"></span> Zakon o zaposljavanje, Njemačka (GER)
                                    </td>
                                    <td width="15%">Admin</td>
                                    <td width="10%">56 KB</td>
                                    <td width="20%">September 14, 2018</td>
                                    <td width="20%"> <button class="btn btn-warning-outline ks-solid">Download</button></td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
               
            </div>
        </div>
    
</div>
    
  
  
  
  <div class="ks-mobile-overlay"></div>
  </div>
  
  <!--
  
  <app-login></app-login>
  -->
  
  