


<div>
    <app-navbar></app-navbar>
  </div>
  
  
  <div class="ks-page-container ks-dashboard-tabbed-sidebar-fixed-tabs" appAutoHeight data-is-auto-height="parent" data-is-min-height="true">
   
    <div class="ks-column ks-sidebar ks-info">
      <app-sidebar></app-sidebar>
  </div>
  
  <div class="ks-column ks-page">
      <div class="ks-page-header">
  <section class="ks-title-and-subtitle">
    <div class="ks-title-block">
      <h3 class="ks-main-title"> Nenad Stupar / Open jobs</h3>
      <div class="ks-sub-title">List of open jobs</div>
    </div>
    <button class="btn btn-secondary-outline ks-light ks-no-text ks-tabbed-sidebar-navigation-block-toggle" data-block-toggle=".ks-dashboard-tabbed-sidebar-sidebar">
      <span class="ks-icon la la-bars"></span>
    </button>
  </section>
</div>
<div class="ks-page-content">
  <div class="ks-page-content-body">
    <div class="ks-dashboard-tabbed-sidebar ks-dashboard-tabbed-sidebar-fixed-tabs">
      <div class="ks-dashboard-tabbed-sidebar-widgets">
        <div class="row">
          <div class="col-lg-3">
            <div class="card ks-widget-payment-simple-amount-item ks-purple">
              <div class="payment-simple-amount-item-icon-block">
                <span class="ks-icon-combo-chart ks-icon"></span>
              </div>

              <div class="payment-simple-amount-item-body">
                <div class="payment-simple-amount-item-amount">
                  <span class="ks-amount">Your profession</span>
                  <span class="ks-amount-icon ks-icon-circled-up-right"></span>
                </div>
                <div class="payment-simple-amount-item-description">
                  <span class="ks-progress-type"> Software Developer </span>
                </div>
              </div>
            </div>
          </div>
          <div class="col-lg-3">
            <div class="card ks-widget-payment-simple-amount-item ks-green">
              <div class="payment-simple-amount-item-icon-block">
                <span class="la la-pie-chart ks-icon"></span>
              </div>
              <div class="payment-simple-amount-item-body">
                <div class="payment-simple-amount-item-amount">
                  <span class="ks-amount">Jobs open (64)</span>
                  <span class="ks-amount-icon ks-icon-circled-up-right"></span>
                </div>
                <div class="payment-simple-amount-item-description">
                 <span class="ks-progress-type">64 open positions for your profession</span>  
                </div>
              </div>
            </div>
          </div>
          <div class="col-lg-3">
            <div class="card ks-widget-payment-simple-amount-item ks-pink">
              <div class="payment-simple-amount-item-icon-block">
                <span class="ks-icon-user ks-icon"></span>
              </div>

              <div class="payment-simple-amount-item-body">
                <div class="payment-simple-amount-item-amount">
                  <span class="ks-amount">Account is valid</span>
                  <span class="ks-amount-icon ks-icon-circled-down-left"></span>
                </div>
                <div class="payment-simple-amount-item-description">
                  <span class="ks-progress-type">35 days</span>
                </div>
              </div>
            </div>
          </div>
          <div class="col-lg-3">
            <div class="card ks-widget-payment-simple-amount-item ks-orange">
              <div class="payment-simple-amount-item-icon-block">
                <span class="la la-area-chart ks-icon"></span>
              </div>

              <div class="payment-simple-amount-item-body">
                <div class="payment-simple-amount-item-amount">
                  <span class="ks-amount">Your Location</span>
                  <span class="ks-amount-icon ks-icon-circled-up-right"></span>
                </div>
                <div class="payment-simple-amount-item-description">
                  <span class="ks-progress-type">Banjaluka</span>
                </div>
              </div>
            </div>
          </div>
        </div>
        
      </div>
    </div>
  </div>
</div>
<!--JOBS GRID-->


  </div>
  </div>
  
  <div class="ks-mobile-overlay"></div>
  
  <!--
  
  <app-login></app-login>
  -->
  
  
  
  